MQTT_BROKER_HOST=localhost
MQTT_BROKER_PORT=1883
MQTT_TOPIC=environmental/sensors

MYSQL_HOST=127.0.0.1
MYSQL_PORT=3308
MYSQL_USER=envuser
MYSQL_PASSWORD=envpass
MYSQL_DATABASE=env_monitoring

MONGODB_URI=mongodb://root:rootpass@localhost:27018/
MONGODB_DB=env_monitoring
MONGODB_COLLECTION=sensor_messages

NEO4J_URI=bolt://localhost:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=password123
